<!DOCTYPE html>
<html>
  <head>
    <title>Charon Bestattungen | Home</title>
  </head>
  <body>
    <h1>Charon Bestattungen</h1>
    <p>
      	Alte Jakobstraße 133
		10969 Berlin
		030 13 899 677
		Teil des Bestatternetzwerkes
		<a href= "http://www.portadora.de" >PortaDora</a>
    </p>
  </body>
</html>
