<% provide(:title, 'Informationen') %>

    <h1>Informationen zum Thema Tod und Bestattungen</h1>
    <p>
      	Information
	ist die einzige Möglichkeit Unsicherheiten, Vermutungen und überbordende Phantasien zu begegnen.
	Die Angst sich mit den Thema Tod, der eigenen Sterblichkeit auseinanderzusetzen ist zwar verständlich und verbreitet, hat aber auch zur Vernachlässigung der Verabschiedungskultur, zu schlechten Angewohnheiten bei allen die in diesem Bereich arbeiten und zu anderen Fehlentwicklungen geführt.
 
	Wir haben deshalb für Sie das eine oder andere zusammengetragen:
    </p>