<!DOCTYPE html>
<html>
  <head>
    <title>Charon Bestattungen | Kinder</title>
  </head>
  <body>
    <h1>Kinder sind uns ein besonderes Anliegen</h1>
    <p>
    	Auch Kinder trauern - 
		Wir sehen Kinder und Jugendliche als selbstverständlichen Teil einer Familie, die auf ihre Art genauso betroffen sind wie ihre Eltern, wenn ein Großelternteil gestorben ist. Aber vielleicht müssen sie ihre eigene Art der Verabschiedung finden. Dies gilt umso mehr, wenn ein Elternteil oder ein Geschwister gestorben ist
		Wir bemühen uns besonders darum, dass auch Kinder und Jugendliche im Prozess der Verabschiedung angemessen integriert sein können. Gerade die ersten Erfahrungen, die Kinder in der Begegnung mit dem Tod machen sind von prägender Bedeutung sowohl für Sie selbst als auch für die eigene Kultur mit der sie künftig mit dem Thema der Verabschiedung umgehen werden.
 
	

	
		Auch Kinder sterben -
		Diese Tatsache ist für betroffene Eltern besonders schwer anzunehmen. Ob schon bei der Geburt, oder nach einigen Jahren, dieser Verlust ist kaum zu (er)tragen. Aber es geschieht. 
		Besonders in diesen Fällen ist es uns ein Anliegen der Familie Zeit und Raum zu verschaffen in denen die schmerzlichen Schritte der Verabschiedung eines jungen Lebens geschehen können
	</p>
  </body>
</html>

