<% provide(:title, 'Philosophie') %>

    <h1>Philosophie - Glauben – Religion - Spiritualität</h1>
    <p>
      	Die Entwicklung der letzen 50 Jahre hat dazu geführt, dass der Tod, als ein selbstverständlicher Teil des Lebens, aus der Wahrnehmbarkeit fallen konnte. Damit verbunden ist auch der Verlust einer Verabschiedungskultur, wie sie lange Zeit selbstverständlich war.
		Wir möchten der Tendenz zur Verdrängung begegnen mit einer  neuen / alten Kultur des bewussten Abschied-Nehmens und aktiven Verabschiedens und damit dazu beitragen, dass Sterben, Tod, Bestattung wieder als selbstverständlicher Teil unseres Lebens wahrgenommen werden kann.
		So wie das Leben schon vor dem ersten Atemzug beginnt, nehme ich an, dass es nicht schlagartig mit dem letzten endet.
		Beim Umgang mit einem Verstorbenen in den ersten Tagen nach dem Tod gehe ich davon aus, dass er oder sie noch präsent ist, wenngleich auf eine Art, die sich unserer Wahrnehmung weitgehend entzieht.
		Hinweise für eine solche Einstellung finden wir nicht nur in Religionen, die eine Wiedergeburt annehmen, sondern auch in unserem Kulturkreis, in dem noch vor nicht allzu langer Zeit Hausaufbahrungen und Totenwachen genauso selbstverständlich waren wie eine Geburt zuhause.
		In diesem Sinne möchte Charon-Bestattungen dafür sorgen, dass mit dem Verstorbenen in den ersten Tagen nur so viel wie absolut nötig geschieht und sich in nächster Umgebung nur Angehörige und Freunde des Verstorbenen aufhalten, die sich angemessen verhalten und den auch nach dem klinischen Tod noch andauernden Sterbeprozess im Sinne des Verstorbenen liebevoll begleiten.
		Wir begreifen Tod, Verlust, Trauer und Schmerz als natürlichen und unvermeidbaren Teil des Lebens und unterstützen diese Erfahrung in dem wir Raum und Zeit geben in der diese Erfahrung so sein darf, wie sie ist.
    </p>
  