<% provide(:title, 'Trauer') %>

    <h1>Trauer</h1>
    <p>
      	Trauer
		Am Anfang aller Trauer steht die schmerzhafte Einsicht,
		dass es nicht so werden wird, wie es war.
		Heute nicht. Und morgen auch nicht.
		Am Anfang aller Trauer steht diese Einsicht - und an ihrem Ende!
		Ida Lamp                                                                                        
		Die Zentrale Anlaufstelle Hospiz (ZAH) hilft Ihnen in Berlin eine adäquate Trauerbegleitung zu finden:
		UNIONHILFSWERK Berlin, Richard-Sorge-Straße 21 A, 10249 Berlin
		Tel.: +49 30 422 65-6

		<a href="www.hospiz-aktuell.de ">Hospiz aktuell</a>
		, unter: Informationen und Hilfen // Trauer
		Dort finden Sie vielfältige Angebote in Berlin, wie Trauergruppen, Trauercafe, persönliche beratung Selbsthilfegruppen usw
    </p>

