<% provide(:title, 'Veranstaltungen') %>

    <h1>Veranstaltungen</h1>
    <p>
      	hier muss die richtige Weiterleitung zu PortaDora hin
		<a href= "http://www.portadora.de" >PortaDora</a>
		als integrierte site
    </p>