<!DOCTYPE html>
<html>
  <head>
    <title>Charon Bestattungen | Veranstaltungen</title>
  </head>
  <body>
    <h1>Veranstaltungen</h1>
    <p>
      	hier muss die richtige Weiterleitung zu PortaDora hin
		<a href= "http://www.portadora.de" >PortaDora</a>
		als integrierte site
    </p>
  </body>
</html>