<!DOCTYPE html>
<html>
  <head>
    <title>Charon Bestattungen | Vorsorge</title>
  </head>
  <body>
    <h1>Bestattungsvorsorge</h1>
    <p>
      	Sie haben konkrete Wünsche und Vorstellungen, wie Sie bestattet werden wollen und möchten dies im Vorfeld festlegen und sicherstellen, dass Ihre Wünschen auch erfüllt werden?
		Sie möchten Ihre Angehörigen nicht mit diesen Entscheidungen belasten?
		Wir sind, wenn Sie dies wünschen, auch vor Eintritt des Todes für Sie, die Familie und Freunde als Gesprächspartner da, um über Ihre Wünsche und Vorstellungen zu sprechen.
 
		Sie können vorsorgen. 
		Es gibt Möglichkeiten, auch im Zusammenhang mit einer Versicherung, vieles im Vorfeld festzulegen und auch für die finanzielle Absicherung der Bestattungskosten zu sorgen.
		Ein aus unserer Sicht wesentlicher Punkt ist, dass Sie sich in diesem Zusammenhang auch konkret mit Ihrem Tod beschäftigen und dadurch Klarheit und Sicherheit gewinnen können. Wir ermutigen Sie aber auch mit nahen Angehörigen über Ihre Wünsche und Entscheidungen zu sprechen und gegebenenfalls auch deren Interessen zu berücksichtigen.
    </p>
  </body>
</html>
