<!DOCTYPE html>
<html>
  <head>
    <title>Charon Bestattungen | Was tun?</title>
  </head>
  <body>
    <h1>Was tun?</h1>
    <p>
      	Wenn ein Mensch gestorben ist

		für den Sie Sorge tragen - nehmen Sie sich Zeit und rufen Sie uns dann an, wenn es sich für Sie richtig anfühlt. Wir besprechen dann in aller Ruhe, was wann zu tun ist, was wir für Sie tun sollen und wo Sie Unterstützung wünschen. Es gibt nichts was sofort zu tun ist - auch müssen wir nicht sofort kommen.

		Was Sie tun können – 
		der Gestaltungsrahmen ist größer als Sie denken:
		Sie müssen kein Sterbehemd kaufen, Sie können Kleidung des Verstorbenen aussuchen.
		Sie können beim Waschen, Herrichten und Ankleiden dabei sein und dürfen, soweit Sie es wollen auch mithelfen.
		Sarg und Urne müssen nicht aus dem Katalog sein, Sie dürfen sowohl Sarg als auch Urne selbst gestalten.
		Sie dürfen beim Verschließen des Sarges dabei sein und ihn auf einigen Friedhöfen auch selbst tragen.
		Sie dürfen bei der Trauerfeier einen eigenen Text verlesen lassen oder selbst sprechen.
		Es braucht Ihre Ideen, wie Sie durch Dekoration z. B. mit Fotos und Bildern, die persönliche Vorlieben ausdrücken, der Einmaligkeit dieses Lebens in diesem Moment der Feier gerecht werden wollen.

		Was wir anbieten
		Wir holen den Verstorbenen persönlich zu einem Zeitpunkt ab, den Sie für richtig halten.
		Wir unterstützen eine Aufbahrung des Verstorbenen bei Ihnen zu Hause, auch wenn er oder sie im Krankenhaus oder in einem Altenheim gestorben ist.
		Wir waschen und bekleiden - gerne auch mit Ihnen gemeinsam - in aller Ruhe den Verstorbenen.
		Darüber hinaus erledigen wir für Sie sämtliche Formalitäten, die mit dem Eintritt des Todes erforderlich werden. Dazu gehören u. A. die Meldung beim Standesamt, die Besorgung von Sterbeurkunden und alle notwendigen Papiere für die Beisetzung, die Abmeldung von der  Krankenkasse.
		Wir übernehmen für Sie die gesamte Organisation der Trauerfeier und erledigen die. Terminabsprachen mit dem Friedhofsamt, PfarrerIn, TrauerrednerIn, OrganistIn. Wir versuchen alle Ihre Wünsche für eine ganz persönliche Feier umzusetzen, - ob es die Blumengestaltung, die musikalische Umrahmung, besondere Abschiedsrituale betrifft und all das, was Sie an Gestaltungsideen entwickeln. Wir überlasse Ihnen aber auch gerne soviel, wie Sie für richtig halten und unterstützen Sie bei der Entwicklung und Umsetzung Ihrer Ideen.
		Wir gestalten gerne mit Ihnen gemeinsam individuelle Anzeigen für die Zeitung und Trauerkarten, die auch bei uns gedruckt werden können
		Wir kümmern uns falls nötig auch um Haustiere und Zimmerpflanzen.
		Da wir im Moment leider noch über keine eigenen Räume verfügen, können wir Ihnen zur Zeit keine Aufbahrungsmöglichkeit für Ihren Verstorbenen anbieten mit der wir ganz zufrieden sind. Dennoch gibt es verschiedene Möglichkeiten. Wir hoffen, dass wir dies in absehbarer Zeit ändern können.
		Quelle: www.lebensgedanken.de

		Nach Eintritt des Todes

		Es ist wichtig, daß Ruhe und Frieden im Raum sind. Nach dem Eintritt des Todes ist zunächst überhaupt keine Handlung notwendig. Nehmen Sie sich die Zeit zum Abschiednehmen, die Sie brauchen. Wenn der Tod in der Nacht eintritt ist es nicht notwendig, nachts bereits den Arzt zu rufen, um den Totenschein ausstellen zu lassen.

		Sie können ohne weiteres bis zum Morgen damit warten, insbesondere wenn ein Home Care Arzt die Betreuung übernommen hatte.

		Auch das Bestattungsunternehmen brauchen Sie erst dann zu benachrichtigen. In der Regel ist es für die Angehörigen hilfreich, wenn sie sich eine Zeit des Abschiednehmens nehmen.

		Der Einstieg in die Trauer ist leichter und es findet ein gewisser Abschluß der meist sehr belastenden Pflege statt. Hilfreich sind dann auch Gespräche in der Familie über das gemeinsame Leben - die Erinnerungen. Eine Kerze ist möglicherweise anzuzünden.

		Für manch einen ist es richtig, den Verstorbenen zu waschen, zu kämmen und zurecht zu machen, die Kleidung anzuziehen, die er im Sarg tragen soll oder möchte. Natürlich ist all dies sehr schmerzhaft. Lassen Sie ihre Trauer zu, erlauben Sie sich Tränen.
    </p>
  </body>
</html>
